In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/4rc3ue7y43lgazmy44xhxpn32mfujo')

In [8]:
df.head()

,ID,FoodGroup,ShortDescrip,Descrip,CommonName,MfgName,ScientificName,Energy_kcal,Protein_g,Fat_g,...,Folate_USRDA,Niacin_USRDA,Riboflavin_USRDA,Thiamin_USRDA,Calcium_USRDA,Copper_USRDA,Magnesium_USRDA,Phosphorus_USRDA,Selenium_USRDA,Zinc_USRDA
0,1001,Dairy and Egg Products,"BUTTER,WITH SALT","Butter, salted",NaN,NaN,NaN,717.0,0.85,81.11,...,0.0075,0.002625,0.026154,0.004167,0.020000,0.000000,0.004762,0.034286,0.018182,0.008182
1,1002,Dairy and Egg Products,"BUTTER,WHIPPED,WITH SALT","Butter, whipped, with salt",NaN,NaN,NaN,717.0,0.85,81.11,...,0.0075,0.002625,0.026154,0.004167,0.020000,0.000018,0.004762,0.032857,0.018182,0.004545
2,1003,Dairy and Egg Products,"BUTTER OIL,ANHYDROUS","Butter oil, anhydrous",NaN,NaN,NaN,876.0,0.28,99.48,...,0.0000,0.000188,0.003846,0.000833,0.003333,0.000001,0.000000,0.004286,0.000000,0.000909
3,1004,Dairy and Egg Products,"CHEESE,BLUE","Cheese, blue",NaN,NaN,NaN,353.0,21.40,28.74,...,0.0900,0.063500,0.293846,0.024167,0.440000,0.000044,0.054762,0.552857,0.263636,0.241818
4,1005,Dairy and Egg Products,"CHEESE,BRICK","Cheese, brick",NaN,NaN,NaN,371.0,23.24,29.68,...,0.0500,0.007375,0.270000,0.011667,0.561667,0.000027,0.057143,0.644286,0.263636,0.236364

In [4]:
df['FoodGroup'].value_counts()

Beef Products                          946
Vegetables and Vegetable Products      828
Baked Products                         797
Soups, Sauces, and Gravies             452
Lamb, Veal, and Game Products          438
Poultry Products                       390
Legumes and Legume Products            389
Fast Foods                             371
Breakfast Cereals                      363
Baby Foods                             362
Sweets                                 347
Fruits and Fruit Juices                346
Pork Products                          343
Beverages                              315
Finfish and Shellfish Products         267
Dairy and Egg Products                 264
Sausages and Luncheon Meats            244
Fats and Oils                          219
Cereal Grains and Pasta                183
Snacks                                 171
American Indian/Alaska Native Foods    165
Nut and Seed Products                  133
Meals, Entrees, and Side Dishes        113
Restaurant Foods                       108
Spices and Herbs                        64
Name: FoodGroup, dtype: int64

In [16]:
df.columns

Index(['ID', 'FoodGroup', 'ShortDescrip', 'Descrip', 'CommonName', 'MfgName',
       'ScientificName', 'Energy_kcal', 'Protein_g', 'Fat_g', 'Carb_g',
       'Sugar_g', 'Fiber_g', 'VitA_mcg', 'VitB6_mg', 'VitB12_mcg', 'VitC_mg',
       'VitE_mg', 'Folate_mcg', 'Niacin_mg', 'Riboflavin_mg', 'Thiamin_mg',
       'Calcium_mg', 'Copper_mcg', 'Iron_mg', 'Magnesium_mg', 'Manganese_mg',
       'Phosphorus_mg', 'Selenium_mcg', 'Zinc_mg', 'VitA_USRDA', 'VitB6_USRDA',
       'VitB12_USRDA', 'VitC_USRDA', 'VitE_USRDA', 'Folate_USRDA',
       'Niacin_USRDA', 'Riboflavin_USRDA', 'Thiamin_USRDA', 'Calcium_USRDA',
       'Copper_USRDA', 'Magnesium_USRDA', 'Phosphorus_USRDA', 'Selenium_USRDA',
       'Zinc_USRDA'],
      dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8618 entries, 0 to 8617
Data columns (total 45 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                8618 non-null   int64
 1   FoodGroup         8618 non-null   object
 2   ShortDescrip      8618 non-null   object
 3   Descrip           8618 non-null   object
 4   CommonName        1063 non-null   object
 5   MfgName           1560 non-null   object
 6   ScientificName    732 non-null    object
 7   Energy_kcal       8618 non-null   float64
 8   Protein_g         8618 non-null   float64
 9   Fat_g             8618 non-null   float64
 10  Carb_g            8618 non-null   float64
 11  Sugar_g           8618 non-null   float64
 12  Fiber_g           8618 non-null   float64
 13  VitA_mcg          8618 non-null   float64
 14  VitB6_mg          8618 non-null   float64
 15  VitB12_mcg        8618 non-null   float64
 16  VitC_mg           8618 non-null   float64
 17  VitE_mg           8618 non-null   float64
 18  Folate_mcg        8618 non-null   float64
 19  Niacin_mg         8618 non-null   float64
 20  Riboflavin_mg     8618 non-null   float64
 21  Thiamin_mg        8618 non-null   float64
 22  Calcium_mg        8618 non-null   float64
 23  Copper_mcg        8618 non-null   float64
 24  Iron_mg           8618 non-null   float64
 25  Magnesium_mg      8618 non-null   float64
 26  Manganese_mg      8618 non-null   float64
 27  Phosphorus_mg     8618 non-null   float64
 28  Selenium_mcg      8618 non-null   float64
 29  Zinc_mg           8618 non-null   float64
 30  VitA_USRDA        8618 non-null   float64
 31  VitB6_USRDA       8618 non-null   float64
 32  VitB12_USRDA      8618 non-null   float64
 33  VitC_USRDA        8618 non-null   float64
 34  VitE_USRDA        8618 non-null   float64
 35  Folate_USRDA      8618 non-null   float64
 36  Niacin_USRDA      8618 non-null   float64
 37  Riboflavin_USRDA  8618 non-null   float64
 38  Thiamin_USRDA     8618 non-null   float64
 39  Calcium_USRDA     8618 non-null   float64
 40  Copper_USRDA      8618 non-null   float64
 41  Magnesium_USRDA   8618 non-null   float64
 42  Phosphorus_USRDA  8618 non-null   float64
 43  Selenium_USRDA    8618 non-null   float64
 44  Zinc_USRDA        8618 non-null   float64
dtypes: float64(38), int64(1), object(6)
memory usage: 3.0+ MB

In [6]:
df_new = pd.read_excel('https://query.data.world/s/twh3fzbktso2x5z5dlr7yal2ntdfks')

In [7]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 53 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NDB_No             8790 non-null   int64
 1   Shrt_Desc          8790 non-null   object
 2   Water_(g)          8789 non-null   float64
 3   Energ_Kcal         8790 non-null   int64
 4   Protein_(g)        8790 non-null   float64
 5   Lipid_Tot_(g)      8790 non-null   float64
 6   Ash_(g)            8465 non-null   float64
 7   Carbohydrt_(g)     8790 non-null   float64
 8   Fiber_TD_(g)       8196 non-null   float64
 9   Sugar_Tot_(g)      6958 non-null   float64
 10  Calcium_(mg)       8442 non-null   float64
 11  Iron_(mg)          8646 non-null   float64
 12  Magnesium_(mg)     8051 non-null   float64
 13  Phosphorus_(mg)    8211 non-null   float64
 14  Potassium_(mg)     8364 non-null   float64
 15  Sodium_(mg)        8707 non-null   float64
 16  Zinc_(mg)          8084 non-null   float64
 17  Copper_mg)         7533 non-null   float64
 18  Manganese_(mg)     6630 non-null   float64
 19  Selenium_(µg)      7090 non-null   float64
 20  Vit_C_(mg)         7972 non-null   float64
 21  Thiamin_(mg)       8156 non-null   float64
 22  Riboflavin_(mg)    8174 non-null   float64
 23  Niacin_(mg)        8153 non-null   float64
 24  Panto_Acid_mg)     6548 non-null   float64
 25  Vit_B6_(mg)        7885 non-null   float64
 26  Folate_Tot_(µg)    7529 non-null   float64
 27  Folic_Acid_(µg)    6751 non-null   float64
 28  Food_Folate_(µg)   7022 non-null   float64
 29  Folate_DFE_(µg)    6733 non-null   float64
 30  Choline_Tot_ (mg)  4774 non-null   float64
 31  Vit_B12_(µg)       7597 non-null   float64
 32  Vit_A_IU           8079 non-null   float64
 33  Vit_A_RAE          7255 non-null   float64
 34  Retinol_(µg)       6984 non-null   float64
 35  Alpha_Carot_(µg)   5532 non-null   float64
 36  Beta_Carot_(µg)    5628 non-null   float64
 37  Beta_Crypt_(µg)    5520 non-null   float64
 38  Lycopene_(µg)      5498 non-null   float64
 39  Lut+Zea_ (µg)      5475 non-null   float64
 40  Vit_E_(mg)         5901 non-null   float64
 41  Vit_D_µg           5528 non-null   float64
 42  Vit_D_IU           5579 non-null   float64
 43  Vit_K_(µg)         5227 non-null   float64
 44  FA_Sat_(g)         8441 non-null   float64
 45  FA_Mono_(g)        8124 non-null   float64
 46  FA_Poly_(g)        8125 non-null   float64
 47  Cholestrl_(mg)     8380 non-null   float64
 48  GmWt_1             8490 non-null   float64
 49  GmWt_Desc1         8491 non-null   object
 50  GmWt_2             4825 non-null   float64
 51  GmWt_Desc2         4825 non-null   object
 52  Refuse_Pct         8740 non-null   float64
dtypes: float64(48), int64(2), object(3)
memory usage: 3.6+ MB

In [12]:
df_new.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_K_(µg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct
0,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,7.0,51.368,21.021,3.043,215.0,5.00,"1 pat, (1"" sq, 1/3"" high)",14.2,1 tbsp,0.0
1,1002,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,1.62,2.87,0.0,0.06,...,4.6,45.390,19.874,3.331,225.0,3.80,"1 pat, (1"" sq, 1/3"" high)",9.4,1 tbsp,0.0
2,1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,8.6,61.924,28.732,3.694,256.0,12.80,1 tbsp,205.0,1 cup,0.0
3,1004,"CHEESE,BLUE",42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,2.4,18.669,7.778,0.800,75.0,28.35,1 oz,17.0,1 cubic inch,0.0
4,1005,"CHEESE,BRICK",41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,2.5,18.764,8.598,0.784,94.0,132.00,"1 cup, diced",113.0,"1 cup, shredded",0.0

In [23]:
final_df = pd.merge(left=df[['ID', 'FoodGroup', 'CommonName']], right=df_new, left_on = 'ID',right_on ='NDB_No', how='right').drop(columns='ID')

In [25]:
final_df.head(1)

,FoodGroup,CommonName,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),...,Vit_K_(µg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct
0,Dairy and Egg Products,NaN,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,...,7.0,51.368,21.021,3.043,215.0,5.0,"1 pat, (1"" sq, 1/3"" high)",14.2,1 tbsp,0.0

In [20]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8790 entries, 0 to 8789
Data columns (total 56 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 8419 non-null   float64
 1   FoodGroup          8419 non-null   object
 2   CommonName         1049 non-null   object
 3   NDB_No             8790 non-null   int64
 4   Shrt_Desc          8790 non-null   object
 5   Water_(g)          8789 non-null   float64
 6   Energ_Kcal         8790 non-null   int64
 7   Protein_(g)        8790 non-null   float64
 8   Lipid_Tot_(g)      8790 non-null   float64
 9   Ash_(g)            8465 non-null   float64
 10  Carbohydrt_(g)     8790 non-null   float64
 11  Fiber_TD_(g)       8196 non-null   float64
 12  Sugar_Tot_(g)      6958 non-null   float64
 13  Calcium_(mg)       8442 non-null   float64
 14  Iron_(mg)          8646 non-null   float64
 15  Magnesium_(mg)     8051 non-null   float64
 16  Phosphorus_(mg)    8211 non-null   float64
 17  Potassium_(mg)     8364 non-null   float64
 18  Sodium_(mg)        8707 non-null   float64
 19  Zinc_(mg)          8084 non-null   float64
 20  Copper_mg)         7533 non-null   float64
 21  Manganese_(mg)     6630 non-null   float64
 22  Selenium_(µg)      7090 non-null   float64
 23  Vit_C_(mg)         7972 non-null   float64
 24  Thiamin_(mg)       8156 non-null   float64
 25  Riboflavin_(mg)    8174 non-null   float64
 26  Niacin_(mg)        8153 non-null   float64
 27  Panto_Acid_mg)     6548 non-null   float64
 28  Vit_B6_(mg)        7885 non-null   float64
 29  Folate_Tot_(µg)    7529 non-null   float64
 30  Folic_Acid_(µg)    6751 non-null   float64
 31  Food_Folate_(µg)   7022 non-null   float64
 32  Folate_DFE_(µg)    6733 non-null   float64
 33  Choline_Tot_ (mg)  4774 non-null   float64
 34  Vit_B12_(µg)       7597 non-null   float64
 35  Vit_A_IU           8079 non-null   float64
 36  Vit_A_RAE          7255 non-null   float64
 37  Retinol_(µg)       6984 non-null   float64
 38  Alpha_Carot_(µg)   5532 non-null   float64
 39  Beta_Carot_(µg)    5628 non-null   float64
 40  Beta_Crypt_(µg)    5520 non-null   float64
 41  Lycopene_(µg)      5498 non-null   float64
 42  Lut+Zea_ (µg)      5475 non-null   float64
 43  Vit_E_(mg)         5901 non-null   float64
 44  Vit_D_µg           5528 non-null   float64
 45  Vit_D_IU           5579 non-null   float64
 46  Vit_K_(µg)         5227 non-null   float64
 47  FA_Sat_(g)         8441 non-null   float64
 48  FA_Mono_(g)        8124 non-null   float64
 49  FA_Poly_(g)        8125 non-null   float64
 50  Cholestrl_(mg)     8380 non-null   float64
 51  GmWt_1             8490 non-null   float64
 52  GmWt_Desc1         8491 non-null   object
 53  GmWt_2             4825 non-null   float64
 54  GmWt_Desc2         4825 non-null   object
 55  Refuse_Pct         8740 non-null   float64
dtypes: float64(49), int64(2), object(5)
memory usage: 3.8+ MB

In [37]:
final_df['canned'] = [1  if "canned" in item.lower() else 0 for item in final_df['Shrt_Desc']]

In [38]:
final_df.head(2)

,FoodGroup,CommonName,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),...,FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct,canned
0,Dairy and Egg Products,NaN,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,...,51.368,21.021,3.043,215.0,5.0,"1 pat, (1"" sq, 1/3"" high)",14.2,1 tbsp,0.0,0
1,Dairy and Egg Products,NaN,1002,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,1.62,2.87,...,45.390,19.874,3.331,225.0,3.8,"1 pat, (1"" sq, 1/3"" high)",9.4,1 tbsp,0.0,0

In [40]:
#view canned foods

final_df[final_df['canned']==1]

,FoodGroup,CommonName,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),...,FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct,canned
302,Spices and Herbs,NaN,2054,"CAPERS,CANNED",83.85,23,2.36,0.86,8.04,4.89,...,0.233,0.063,0.304,0.0,8.60,"1 tbsp, drained",NaN,NaN,0.0,1
1043,Poultry Products,NaN,5311,"CHICKEN,CANNED,NO BROTH",64.90,185,25.30,8.10,0.80,0.90,...,2.250,3.279,1.978,50.0,28.00,1 oz,205.00,1 cup,0.0,1
1271,"Soups, Sauces, and Gravies",NaN,6114,"GRAVY,AU JUS,CANNED",94.50,16,1.20,0.20,1.60,2.50,...,0.100,0.080,0.010,0.0,59.00,.25 cup,298.00,1 can,0.0,1
1278,"Soups, Sauces, and Gravies",NaN,6121,"GRAVY,MUSHROOM,CANNED",89.00,50,1.26,2.71,1.56,5.47,...,0.400,1.170,1.020,0.0,238.00,1 cup,298.00,1 can,0.0,1
1640,Sausages and Luncheon Meats,NaN,7026,"HAM,CHOPPED,CANNED",60.77,239,16.06,18.83,4.08,0.26,...,6.291,9.161,2.060,49.0,28.35,1 oz,21.00,"1 slice, (4-1/4"" x 4-1/4"" x 1/16"")",0.0,1
1641,Sausages and Luncheon Meats,NaN,7027,"HAM,CHOPPED,NOT CANNED",65.30,180,16.50,10.30,3.70,4.20,...,3.422,4.897,1.260,59.0,28.00,"1 slice, (1 oz) (4"" x 4"" x 3/32"" thick)",21.00,"1 slice, (4-1/4"" x 4-1/4"" x 1/16"")",0.0,1
1656,Sausages and Luncheon Meats,NaN,7045,"LUNCHEON MEAT,PORK,CANNED",51.50,334,12.50,30.30,3.60,2.10,...,10.790,14.290,3.560,62.0,28.35,1 oz,21.00,"1 slice, (4-1/4"" x 4-1/4"" x 1/16"")",0.0,1
1661,Sausages and Luncheon Meats,NaN,7053,"PATE,CHICKEN LIVER,CANNED",65.64,201,13.45,13.10,1.26,6.55,...,4.000,5.280,2.460,391.0,13.00,1 tbsp,28.35,1 oz,0.0,1
2306,Fruits and Fruit Juices,NaN,9229,"PAPAYA NECTAR,CANNED",85.02,57,0.17,0.15,0.15,14.51,...,0.047,0.041,0.035,0.0,250.00,1 cup,31.20,1 fl oz,0.0,1
2366,Fruits and Fruit Juices,NaN,9294,"PRUNE JUICE,CANNED",81.24,71,0.61,0.03,0.68,17.45,...,0.003,0.021,0.007,0.0,256.00,1 cup,32.00,1 fl oz,0.0,1
2886,Vegetables and Vegetable Products,NaN,11108,"BUTTERBUR,CANNED",97.92,3,0.11,0.13,1.46,0.38,...,NaN,NaN,NaN,0.0,124.00,"1 cup, chopped",45.00,3 stalks,0.0,1
3143,Vegetables and Vegetable Products,NaN,11426,"PUMPKIN PIE MIX,CANNED",71.49,104,1.09,0.13,0.91,26.39,...,0.065,0.016,0.007,0.0,270.00,1 cup,NaN,NaN,0.0,1
3297,Vegetables and Vegetable Products,NaN,11655,"CARROT JUICE,CANNED",88.87,40,0.95,0.15,0.75,9.28,...,0.027,0.007,0.071,0.0,236.00,1 cup,29.50,1 fl oz,0.0,1
3315,Vegetables and Vegetable Products,NaN,11693,"TOMATOES,CRUSHED,CANNED",89.44,32,1.64,0.28,1.35,7.29,...,0.040,0.043,0.113,0.0,121.00,.5 cup,NaN,NaN,0.0,1
3460,Vegetables and Vegetable Products,NaN,11846,"PUMPKIN,CANNED,WITH SALT",89.97,34,1.10,0.28,0.56,8.09,...,0.146,0.037,0.015,0.0,245.00,1 cup,NaN,NaN,0.0,1
3552,Vegetables and Vegetable Products,NaN,11943,"PIMENTO,CANNED",93.10,23,1.10,0.30,0.40,5.10,...,0.045,0.020,0.161,0.0,12.00,1 tbsp,192.00,1 cup,0.0,1
3570,Vegetables and Vegetable Products,NaN,11961,"HEARTS OF PALM,CANNED",90.20,28,2.52,0.62,2.04,4.62,...,0.130,0.103,0.202,0.0,146.00,1 cup,33.00,1 piece,0.0,1
3670,Nut and Seed Products,NaN,12129,"GINKGO NUTS,CANNED",72.95,111,2.29,1.62,1.04,22.10,...,0.309,0.599,0.597,0.0,155.00,"1 cup, (78 kernels)",28.35,"1 oz, (14 kernels)",41.0,1
4619,Finfish and Shellfish Products,NaN,15141,"CRAB,BLUE,CANNED",79.69,83,17.88,0.74,1.96,0.00,...,0.201,0.129,0.258,97.0,135.00,1 cup,28.35,1 oz,0.0,1
4647,Finfish and Shellfish Products,NaN,15170,"OYSTER,EASTERN,CANNED",85.14,68,7.06,2.47,1.42,3.91,...,0.631,0.250,0.739,55.0,85.00,3 oz,248.00,"1 cup, undrained",0.0,1
4797,Legumes and Legume Products,NaN,16059,"CHILI WITH BEANS,CANNED",75.51,103,6.12,3.76,1.38,13.24,...,1.133,1.601,0.249,17.0,256.00,1 cup,16.00,1 tbsp,0.0,1
4897,Legumes and Legume Products,NaN,16173,"FRIJOLES ROJOS VOLTEADOS (REFRIED BNS,RED,CANNED)",70.71,144,5.00,6.93,1.89,15.47,...,0.926,1.676,4.379,NaN,233.00,1 cup,15.00,1 tbsp,0.0,1
5578,Baked Products,NaN,18021,"BREAD,BOSTON BROWN,CANNED",47.20,195,5.20,1.50,2.80,43.30,...,0.282,0.207,0.564,1.0,28.35,1 oz,45.00,1 slice,0.0,1
6498,Cereal Grains and Pasta,NaN,20030,"HOMINY,CANNED,WHITE",82.53,72,1.48,0.88,0.86,14.26,...,0.123,0.231,0.399,0.0,165.00,1 cup,NaN,NaN,0.0,1
6604,Cereal Grains and Pasta,NaN,20330,"HOMINY,CANNED,YELLOW",82.53,72,1.48,0.88,0.86,14.26,...,0.123,0.231,0.399,0.0,160.00,1 cup,NaN,NaN,0.0,1
7034,"Meals, Entrees, and Side Dishes",NaN,22905,"BEEF STEW,CANNED ENTREE",80.78,99,4.41,5.53,1.43,7.85,...,2.185,2.543,0.251,13.0,196.00,"1 cup, (1 serving)",NaN,NaN,0.0,1

In [41]:
final_df['CommonName'].value_counts()

hamburger                                  25
KFC                                        22
family style                               21
buffalo                                    13
soft drink, pop, soda                      13
                                           ..
IMPS # 1309A                                1
includes USDA Commodity B856                1
platanos maduros                            1
Includes USDA commodity food A255, A263     1
Includes USDA commodity food A214           1
Name: CommonName, Length: 440, dtype: int64